<ion-view>
	<ion-content>
		<div class="list">
			<a ng-click="Check(1)" class="item item-avatar" style="padding:15px 5px 5px 65px !important; min-height:55px !important;">
				<img src="img/1437640892_user_male2.png" style="top:5px !important;">
				<h2>Routes1</h2>
				<span class="item-note pull-right" style="top:15px !important;">
				  <input type="checkbox" ng-model="checkboxModel.value1" />
				</span>
			</a>
			<a ng-click="Check(2)" class="item item-avatar" style="padding:15px 5px 5px 65px !important; min-height:55px !important;">
				<img src="img/1437640892_user_male2.png" style="top:5px !important;">
				<h2>Routes1</h2>
				<span class="item-note pull-right" style="top:15px !important;">
				  <input type="checkbox" ng-model="checkboxModel.value2" />
				</span>
			</a>
			<a ng-click="Check(3)" class="item item-avatar" style="padding:15px 5px 5px 65px !important; min-height:55px !important;">
				<img src="img/1437640892_user_male2.png" style="top:5px !important;">
				<h2>Routes1</h2>
				<span class="item-note pull-right" style="top:15px !important;">
				  <input type="checkbox" ng-model="checkboxModel.value3" />
				</span>
			</a>
		</div>
	</ion-content>
</ion-view>