.border_none{
	border-bottom:none !important;
}
.card_form{
	width: 80% !important;
	margin: 0 auto !important;
}

.no_background{
	background:none !important;
	box-shadow:none !important;
	border:none !important;
}
.header-item{
	text-align:center !important;
}
.background_color{
	background:#264c8c !important;
	color:#fff !important;
}
.text_white{
	color:#fff !important;
}
.no_margin{
	margin:0 !important;
}
.no_padding{
	padding:0 !important;
}
a{
	text-decoration:none !important;
}
.fs-20{
	font-size:20px;
}
.pull-right{
	position:absolute;
	right:10px;
	top:10px;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}